@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://source.unsplash.com/random/780x400/?landscape');
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.card {
    background-color: #00000d;
    padding: 2rem;
    color: white;
    border-radius: 30px;
    width: 100%;
    max-width: 720px;
    margin: 1rem;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button {
    margin: .5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 46px;
    width: 46px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.flex {
    display: flex;
}
.flex .logo {
    margin-left: -10px;
}

button:hover {
  background-color: #7c7c7c6b;
}
input {
    color: white;
}
input.search-bar {
    border: none;
    outline: none;
    padding: .5em;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    font-family: inherit;
    font-size: 120%;
    width: 100%;
    max-width: calc(100% - 80px);
}

.description {
    margin-left: 10px;
}
.weather.city {
    font-size: 9rem;
}
